.img {
  margin-left: 10px;
}

.my-header {
  display: flex;
}

.name-box {
  margin-left: 30px;
  padding: 20px;
}

.icon-box {
  margin-left: 30px;
  margin-top: 10px;
  padding-top: 10px;
}

.icon-box > a{
  display: flex;
  flex-direction: row;
}

.my-icon {
  display: inline-block;
}

.link-box {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding-top: 10px;
}

.link-box > a {
  padding: 11px;
}